{% extends 'base.html' %}

{% block meta_description %}
Antminer Monitor, antminer, monitor, antmon, bitmain, bitcoin, litecoin, dash, 
cryptocurrency, crypto, miner, mine, mining
{% endblock %}
{% block title %}Antminer Monitor {{ version }}{% endblock %}

{% block body %}
<h2>Antminer Monitor {{ version }}</h2>
<fieldset style="width: 300px;">
<legend>Countdown</legend>
<b id="countdown"></b>
</fieldset>

<div class="container">
    <div>
      <fieldset name="add">
          <legend>Add Miner</legend>
          <form action="{{ url_for('add_miner') }}" method="POST">
              <div class="addminer_container">
                  <div>
                      <label for="ip">IP Address: </label>
                  </div>
                  <div>
                      <input required type="text" name="ip">
                  </div>
                  <div>
                      <label for="model_id">Model: </label>
                  </div>
                  <div>
                      <select required name="model_id">
                          <option disabled selected value> -- select an option --</option>
                          {%- for model in models|sort(attribute="model") %}
                              <option value="{{ model.id }}">{{ model.model }} - {{ model.description }}</option>
                          {%- endfor %}
                      </select>
                  </div>
                  <div>
                      <label for="remarks">Remarks: </label>
                  </div>
                  <div>
                      <input type="text" name="remarks">
                  </div>
                  <p><input type="submit" value="Add model"></p>
              </div>
          </form>
      </fieldset>
    </div>
    <div></div>
    <div>
        <fieldset name="total_hashrate" style="height:130px">
            <legend>Total hashrate per model (5s)</legend>
            <ul>
                {%- for model in total_hash_rate_per_model|sort %}
                    <li><u>{{ model }}:</u> <strong>{{ total_hash_rate_per_model[model] }}</strong>
                    </li>
                {%- endfor %}
            </ul>
        </fieldset>
    </div>
</div>
<br>

{%- with messages = get_flashed_messages(with_categories=true) %}
    {%- if messages %}
        {%- for category, message in messages %}
            <div class="{{ category }}">
                <strong>{{ message }}</strong>
            </div>
        {%- endfor %}
    {%- endif %}
{%- endwith %}

{%- if inactive_miners %}
    <fieldset name="inactive_miner_list">
        <legend>In-active Miners ({{ inactive_miners|length }})</legend>
        <table style="width:100%">
            <tr>
                <th>IP Address</th>
                <th>Model</th>
                <th>Remarks</th>
                <th>Status</th>
                <th>Remove</th>
            </tr>
            {%- for inactive_miner in inactive_miners|sort(attribute='ip') %}
                <tr>
                    <td><a target="_blank" href="http://{{ inactive_miner.ip }}">{{ inactive_miner.ip }}</a></td>
                    <td>{{ inactive_miner.model.model }}</td>
                    <td>{{ inactive_miner.remarks }}</td>
                    <td>Error: Check connection or IP Address</td>
                    <td><a href={{ url_for('delete_miner', id=inactive_miner.id) }}><img src="/static/images/assets/remove.png"></img></a></td>
                </tr>
            {%- endfor %}
        </table>
    </fieldset>
{%- endif %}
<br>

<fieldset name="active_miner_list">
    <legend>Active Miners ({{ active_miners|length }})</legend>
    <table style="width:100%">
        <tr>
            <th>IP Address</th>
            <th>Worker</th>
            <th>Model</th>
            <th>Remarks</th>
            <th title="'O' means OK">Chips (Os)</th>
            <th title="'X' means defective">Chips (Xs)</th>
            <th title="'-' means instability of the power supply voltage or the defective hash board">Chips (-)</th>
            <th>Chip Temp(C)</th>
            <th>Fan speeds (rpm)</th>
            <th>Hashrate (5s)</th>
            <th>HW Error Rate %</th>
            <th>Uptime</th>
            <th>Status</th>
            <!--<th>JSON Info</th>-->
            <th>Remove</th>
        </tr>
        {%- for active_miner in active_miners|sort(attribute='ip') %}
            <tr{%- if active_miner.ip in miner_errors %} class="error"{%- endif %}>
                <td><a target="_blank" href="http://{{ active_miner.ip }}">{{ active_miner.ip }}</a></td>
                <td>{{ workers[active_miner.ip] }}</td>
                <td title="{{ active_miner.model.description }}">{{ active_miner.model.model }}</td>
                <td>{{ active_miner.remarks }}</td>
                <td>{{ miner_chips[active_miner.ip]['status']['Os'] }}</td>
                <td>{{ miner_chips[active_miner.ip]['status']['Xs'] }}</td>
                <td>{{ miner_chips[active_miner.ip]['status']['-'] }}</td>
                <td>{{ temperatures[active_miner.ip] }}</td>
                <td>{{ fans[active_miner.ip].speeds }}</td>
                <td>{{ hash_rates[active_miner.ip] }}</td>
                <td>{{ hw_error_rates[active_miner.ip] }}</td>
                <td>{{ uptimes[active_miner.ip] }}</td>
                <td title="{%- if active_miner.ip in miner_errors %}{{ miner_errors[active_miner.ip] }}{%- endif %}">
                    {%- if active_miner.ip in miner_errors %}Check your miner{%- else %}OK{%- endif %}</td>
                <!--<td><a target="_blank" href="/{{ active_miner.ip }}/summary">Summary</a> |
                    <a target="_blank" href="/{{ active_miner.ip }}/pools">Pools</a> |
                    <a target="_blank" href="/{{ active_miner.ip }}/stats">Stats</a></td>-->
                <td><a href={{ url_for('delete_miner', id=active_miner.id) }}><img src="/static/images/assets/remove.png"></img></a></td>
            </tr>
        {%- endfor %}
    </table>
</fieldset>
{% endblock %}
