body {
    width: 90%;
    margin: 0 auto;
    font-family: 'Consolas', Times, serif;
    font-size: 14px;
}

.container {
    display: grid;
    grid-template-columns: 450px 350px auto 400px;
    grid-gap: 3px;
}

.addminer_container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-gap: 3px;
}

.minerdiscovery_container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-gap: 3px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

th, td {
    padding: 5px;
}

tr:hover {
    background-color: #f5f5f5
}

th {
    background-color: #4CAF50;
    color: white;
}

.info, .success, .warning, .error {
    margin: 10px 0;
    padding: 12px;
    border-radius: .5em; /* add rounder corners */
    border: 1px solid; /* add border */
    box-shadow: 1px 1px 3px #888; /* add shadow */
}

.info {
    color: #00529B;
    background-color: #BDE5F8;
}

.success {
    color: #4F8A10;
    background-color: #DFF2BF;
}

.warning {
    color: #9F6000;
    background-color: #FEEFB3;
}

.error {
    color: #D8000C;
    background-color: #FFBABA;
}
